{% if user.is_authenticated %}
<h1><a href="/portfolio">Portfolio</a></h1>
{% if user.is_superuser %}
<h1><a href="/create_market">Create market</a></h1>
{% endif %}
<p><a href="/logout">Log out</a></p>
{% else %}
<h1><a href="/signup">Sign up</a></h1>
<h1><a href="/login">Log in</a></h1>
{% endif %}
<h1><a href="/">Markets</a></h1>
{% if market %}
<h1><a href="/market?pk={{ market.pk }}">{{ market.name }}</a></h1>
{% endif %}
{% if outcome %}
<h2><a href="/outcome?pk={{ outcome.pk }}">Outcome: {{ outcome.outcome_date }}</a></h2>
{% endif %}
