{% include 'base.html' %}
{% if outcomes_list %}
    <p>b: {{ market.b }}</p>
    <p>Number of outcomes: {{ market.number_of_outcomes }}</p>
    <p>Start date: {{ market.start_date }}</p>
    <p>End date: {{ market.end_date }}</p>
    <ul>
    {% for outcome in outcomes_list %}
        <li>
            <a href="/outcome?pk={{ outcome.pk }}">
                <div><h2>Outcome: {{ outcome.outcome_date }}</h2></div>
            </a>
            <div>Outstanding: {{ outcome.outstanding }}</div>
            <div align="left">Probability: {{ outcome.percent|floatformat:2 }}%</div>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No outcomes are available.</p>
{% endif %}
