<h1><a href="/">Markets</a></h1>
<h1>Portfolios</h1>
{% if portfolio %}
<p>Portfolio: {{ portfolio.name }}</p>
<p>Owner: {{ portfolio.user.username }}</p>
{% if positions %}
<h1>Positions</h1>
<ul>
    {% for position in positions %}
    <li>
        <a href="/position?pk={{ position.pk }}">
            <h2>{{ position.outcome.market.name }} : {{ position.outcome.outcome_date }}</h2>
        </a>
        <p>Volume: {{ position.volume }}</p>
        <p>Probability: {{ position.outcome.percent|floatformat:2 }}%</p>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>There are no positions.</p>
{% endif %}
{% else %}
<p>There are no portfolios.</p>
{% endif %}
